<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
  </head>
  <body>
    {%block body%}{% endblock%}
    <script type="text/javascript">

    </script src="{{url_for('static', filename='js/master.js')}}">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
  </body>
</html>
